.o-body {
  flex-grow: 1;
  width: 100%;
  max-width: $width-default;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;

  &--small {
    flex-grow: unset;
    width: 500px;
    margin: 20px auto;
  }
}
