/* colors
------------------*/
$color-text: #000;

/* font sizes
------------------*/
$font-md: 14px;

/* font families
------------------*/
$font-sansserif: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;

/* break points
------------------*/
$bp-sp: 768px;
